#main {
  color: white;
  text-align: center;
  background-color: #421982;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  overflow: auto;
}

h1, h3{
	color: white;
}
#mainbody {
  color: white;
  text-align: left;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#assessment {
  color: black;
  background-color: #F0E382;
  width: 45%;
  text-align: center;
  float: right;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding-top:25px;
  margin: 20px;
}
	.imgSize {
        width: 50%;
        height: 50%;

}

.button {
	font-size: 1em;
	width: 325px;
	background-color:#F0E382;
	border: none;
	color: white;
	text-align: center;
	padding: 15px;
	border-spacing: 15px;
	margin: 15px;
}
